* {
  font-family: sans-serif;
}

.boton-activo {
  background-color: rgb(49, 0, 128);
  color: yellow;
  border: none;
}

.boton-inicio {
  background-color: rgb(39, 155, 149);
  color: yellow;
  border: none;
}

#card {
  background-color: rgb(223, 223, 223);
  margin: 10px;
  max-width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}

#app {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#titulo {
  width: 100%;
  display: flex;
  justify-content: center;
}
